<h1>Payment Calculation</h1>

<form action="/payment/results">
    
    <div>
        <label>
            APR
        </label>
        <input name="annual_int_rate">
    </div>
    
    <div>
        <label>
            Number of years
        </label>
        <input name="years">
    </div>
    
    <div>
        <label>
            Principal
        </label>
        <input name="principal">
    </div>
    
    <button>Calculate monthly payment</button>
</form>