<h1>Random Calculation</h1>

<form action="/random/results">
    
    <div>
        <label>
            Minimum
        </label>
        <input name="min_number">
    </div>
    
    <div>
        <label>
            Maximum
        </label>
        <input name="max_number">
    </div>
    
    <button>Pick random number</button>
</form>