<h1>Random Results</h1>
<h4>Minimum</h4>
<p><%= @min_number %></p>
<h4>Maximum</h4>
<p><%= @max_number %></p>
<h4>Random Number</h4>
<p><%= number_with_precision(@random_number, precision: 4) %></p>
<h4>Payment</h4>
<a href="/random/new">Pick another random number</a>