<h1>Word Count Calculation</h1>

<form action="/word_count/results">
    
    <div>
        <label>
            Text
        </label>
        <input name="text">
    </div>
    
    <div>
        <label>
            Special word
        </label>
        <input name="special_word">
    </div>
    
    <button>Process text</button>
</form>